* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common css  */
body {
  font-family: "Inter", sans-serif;
}
/* main css  */
#Navbar-Section {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  max-height: 92px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu .menu-items {
  display: flex;
  gap: 32px;
  list-style: none;
  align-items: center;
}
.menu-items li a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-weight: 500;
}
.right-button .btn {
  padding: 12px 16px;
  background-color: #469165;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  align-items: center;
}
.btn a {
  text-decoration: none;
  color: white;
}
#Banner-Section {
  width: 100%;
  min-height: 670px;
  background: url("./images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-container {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.early-access-btn {
  padding: 8px 12px;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
}
.early-access-btn a {
  text-decoration: none;
  color: #469165;
}
.early-access-btn img {
  margin-right: 8px;
  vertical-align: middle;
}
.banner-container h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 76px;
  margin: 24px 0;
  color: #ffffff;
  max-width: 900px;
}
.banner-container h1 span {
  color: #30b868;
}
.banner-container p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  max-width: 800px;
  margin-bottom: 32px;
}
.banner-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.banner-container button.btn1 {
  padding: 12px 16px;
  background-color: #469165;
  border: 2px solid #469165;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-right: 16px;
  cursor: pointer;
}
.btn1 a {
  text-decoration: none;
  color: white;
}
.btn1 img {
  margin-left: 8px;
  vertical-align: middle;
  margin-bottom: 2px;
}
.banner-container button.btn2 {
  padding: 12px 16px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}
.btn2 a {
  text-decoration: none;
  color: white;
}
.btn2 img {
  margin-right: 8px;
  vertical-align: middle;
  margin-bottom: 2px;
  height: 20px;
  width: 20px;
}
#notes-section {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  padding-top: 100px;
  background-color: #fbfbfb;
  margin-bottom: 100px;
}
.notes-container h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #001931;
  margin-bottom: 16px;
}
.notes-container .subtitle {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #627382;
  margin-bottom: 64px;
}
.card-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.note-card {
  max-width: 320px;
  max-height: 280px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
}
.note-card .card-img {
  background-color: #f95555;
  height: 60px;
  width: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img img {
  height: 24px;
  width: 24px;
  align-items: center;
}
.note-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 15px;
}
.note-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  text-align: center;
  padding: 0 16px;
  margin-bottom: 24px;
}
#second-brain-section {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.brain-section-container {
  display: flex;
  gap: 60px;
}
.brain-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-message {
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  margin-bottom: 30px;
}
.brain-info h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 24px;
}
.brain-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 10px;
}
.brain-info ul {
  list-style: none;
  margin-top: 24px;
}
.brain-info ul li {
  font-size: 16px;
  font-weight: 500;
  color: #001931;
  margin-bottom: 10px;
}
.brain-info ul li img {
  margin-right: 12px;
  vertical-align: middle;
}
#challenge-section {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  background-color: #f7f6f2;
  padding: 80px 40px;
}
#challenge-section h3 {
  font-size: 40px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
#challenge-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #627382;
  margin-bottom: 20px;
}
#challenge-section button {
  padding: 12px 16px;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 16px;
}
#challenge-section button a {
  text-decoration: none;
  color: white;
}
#challenge-section button img {
  margin-left: 8px;
  margin-bottom: 2px;
  vertical-align: middle;
}
footer {
  width: 100%;
  height: 350px;
  background-color: #001931;
}
.footer-container {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 120px 120px 30px 120px;
  display: flex;
  justify-content: space-between;
}
.footer-menu h4 {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
}
.social-links-items {
  display: flex;
  align-items: center;
  gap: 4px;
}
.social-links-items a {
  background-color: #ffffff;
  color: #001931;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links-items a i {
  font-size: 18px;
}
hr {
  border: none;
  border-top: 2px solid #2e4256;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 10px;
  margin-top: 50px;
}
.footer-bottom {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
.footer-rights p {
  font-size: 16px;
  font-weight: 400;
  color: #fafafa;
}
